# Assignment 20

#### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [4]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as f:
    f.write(test1)

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open('test.txt', 'r') as f:
    test2 = f.read()

In [6]:
print(test1 == test2)

True

#### 3. Create a CSV file called books.csv by using these lines:
title,author,year<br>
The Weirdstone of Brisingamen,Alan Garner,1960<br>
Perdido Street Station,China Miéville,2000<br>
Thud!,Terry Pratchett,2005<br>
The Spellman Files,Lisa Lutz,2007<br>
Small Gods,Terry Pratchett,1992

In [7]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992],
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3

# Connect to database (or create it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object
c = conn.cursor()

# Create the books table with the specified fields
c.execute('''CREATE TABLE books
             (title TEXT, author TEXT, year INTEGER)''')

# Commit the changes and close the connection
conn.commit()
conn.close()

#### 5. Read books.csv and insert its data into the book table.

In [2]:
import csv
import sqlite3

# Connect to database
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Open CSV file and insert data into books table
with open('books.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        title, author, year = row
        c.execute("INSERT INTO books VALUES (?, ?, ?)", (title, author, year))

# Commit the changes and close the connection
conn.commit()
conn.close()

#### 6. Select and print the title column from the book table in alphabetical order.

In [3]:
import sqlite3

# Connect to database
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Select the title column from the books table in alphabetical order
c.execute("SELECT title FROM books ORDER BY title ASC")
rows = c.fetchall()

# Print the results
for row in rows:
    print(row[0])

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!
title

#### 7. From the book table, select and print all columns in the order of publication.

In [4]:
import sqlite3

# Connect to database
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Select all columns from the books table in the order of publication
c.execute("SELECT * FROM books ORDER BY year ASC")
rows = c.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('title', 'author', 'year')

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [5]:
from sqlalchemy import create_engine

# Create an SQLAlchemy engine that connects to the books.db database
engine = create_engine('sqlite:///books.db')

# Test the connection by executing a SQL query to select the first 10 rows from the books table
with engine.connect() as conn:
    result = conn.execute("SELECT * FROM books LIMIT 10")
    for row in result:
        print(row)

('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis(host='localhost', port=6379, db=0)

# Create a Redis hash called "test" with the fields "count" and "name"
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Print all the fields for "test"
fields = r.hgetall('test')
for field, value in fields.items():
    print(f'{field.decode()}: {value.decode()}')

#### 10. Increment the count field of test and print it.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis(host='localhost', port=6379, db=0)

# Increment the "count" field of "test" by 1 and print its value
new_count = r.hincrby('test', 'count', 1)
print(f'New count value: {new_count}')